extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Snir Holland 

        p.lead.text-light
          | Junior Web Developer

        .portfolio-bio
          p
            | Hi, my name is Snir. I'm a Full Stack JavaScript Techdegree graduate and
            | a math enthusaist. After five years of teaching math to high school students, 
            | I have decided to start a new chapter in my life and become a web developer.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Vanilla Javascript
          li JQuery
          li HTML
          li CSS
          li Java 
          li C
          li Node
          li Express
          li React
        
        h6 Contact Info

        ul
          li sniro84@hotmail.com

        a.button.expanded(href='https://www.linkedin.com/in/snir-holland-23766a187/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/sniro84' target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  