
h1,h2,h3,h4,h5,p{
  font-family: 'Merriweather', serif;
}

  h5{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(194, 111, 3);
    line-height: 2;
  }

.round{
  border-radius: 5px;
}

.text-light{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: rgb(19, 92, 0);
}

.button{
  font-weight: bold;
  background-color: #333;
}

.button:hover{
  font-weight: bold;
  background-color: #111;
}

a{
  color: #333;
}

a:hover{
  color: #111;
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
  background-color:rgb(13, 11, 43);
  background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  color: #fff;
  box-shadow: none !important;
  font-weight: bold;
}

  .portfolio-me p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: rgb(153, 153, 153);
  }

  .portfolio-me a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(85, 85, 85);
    font-size: 17px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: #999;
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
  background: linear-gradient(45deg,rgb(228, 228, 228),#b6c4e7);
}

 .portfolio-breadcrumb a{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
   font-size: 17px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  background:
linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
background-size: 100px 100px;
  margin: 0;
  padding: 40px 50px 30px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.portfolio-intro p{
  padding-bottom: 40px;
}

.portfolio-index{
  margin: 0;
  background: linear-gradient(45deg,rgb(228, 228, 228),#9ce6eb);
  padding: 10px 50px;
}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
  }

  .portfolio-index a{
    color: rgb(15, 15, 15);
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  font-weight: bold;
  font-family: Snell Roundhand, cursive;
  color: rgb(184, 3, 3);
}

.portfolio-bio{
    line-height: 25px;
}
