
h1,h2,h3,h4,h5,p{
  font-family: 'Nunito', sans-serif;
}

  h5{
    font-family: 'Nunito', sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(92, 0, 5);
    line-height: 2;
  }

.round{
  border-radius: 5px;
}

.text-light{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: rgb(0, 78, 92);
}

.button{
  font-weight: bold;
  border-radius: 50%;
  background-color: #333;
}

.button:hover{
  font-weight: bold;
  background-color: rgb(42, 3, 105);
}

a{
  color: #333;
}

a:hover{
  color: rgb(255, 0, 0);
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
  background-color:rgb(13, 11, 43);
  /* background-image: linear-gradient(purple,firebrick); */
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  color: #fff;
  box-shadow: none !important;
  font-weight: bold;
  text-align: center;
}

  .portfolio-me p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: rgb(153, 153, 153);
    
  }

  .portfolio-me a{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(137, 138, 129);
    font-size: 17px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: rgb(152, 243, 33);
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

 .portfolio-breadcrumb a{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
   font-size: 17px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  background-image: radial-gradient(circle at top right, #ffa949,rgb(131, 226, 112)); 
  margin: 0;
  padding: 20px 50px 5px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.portfolio-intro p{
  padding-bottom: 5px;
}

.portfolio-index{
  margin: 0;
  background: linear-gradient(45deg,rgb(228, 228, 228),#9ce6eb);
  padding: 20px 50px 10%;
}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
    border-radius: 10%;
    border-color: rgb(68, 0, 65);
  }

  .portfolio-index a{
    color: rgb(15, 15, 15);
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 19px;
  font-weight: bold;
  font-family: Snell Roundhand, cursive;
  color: rgb(48, 2, 75);
}

.portfolio-bio{
    line-height: 25px;
}

#my-info > div > div.cell.auto > p{
  color: yellow;
  text-align: center;
}

#my-info > div > div.cell.shrink > img {
  border-radius: 100%;
  border-color: teal;
}

#my-info > div > div.cell.auto > h5 {
  text-align: center;
}

body > div.off-canvas-content.has-reveal-left > article > div > div.cell.small-6.medium-9.large-9 {
  border-right: 2px solid black;
  padding-right: 5%;
}

body > div.off-canvas-content.has-reveal-left > article > div {
  padding-bottom: 5%;
}